[user]
	name = Prajwal P
	email = prajwalprakash3722@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = master
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
